
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    font-family: 'Merriweather', serif;
}

body {
    background-color: aquamarine;
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: rgb(61, 108, 150);
}

nav{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 9vh;
}

img{
    width: 225px;
    border: 5px solid lightblue;
}

.right-image{
    float: right;
}

p {
    color: rgb(94, 41, 145);
}

.Header, .Centre {    
    text-align: center;
    width: 75%;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    border: 5px solid lightblue
}

.Header {
    background-color: azure;
    font-size: 38px;
}

.Centre {
    background-color: ivory;
}

#top{
    text-align: center;
    border: 5px solid lightblue;
}

a:hover {
    color: rgba(255, 0, 85, 0.795);
    font-size: 125%;
  }

.keyword-text {
    color: rgb(136, 31, 75);
    font-weight: bold;
 }